* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  background-color: wihte;
}

$primary-color: #079ad9;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: $primary-color;
}

.submit {
        margin: 2rem;
}

.search-title {
        color: #0e9cdc;
        font-weight: bold;
        margin: 60px 0 20px 0;
      }   
      
.result-title {
        color: #0e9cdc;
        font-weight: bold;
        margin: 60px 0 100px 0;
      }      

.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  //set dimensions for invisible container
  .input-container {
    position: relative;
    height:  8rem;
    width:  8rem;
    margin: 0.2rem;

    //make actual radio input invisible
    // + stretch to fill container
    .radio-button {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      margin: 0;
      cursor: pointer;
    }

    //default tile styles
    .radio-tile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 2px solid $primary-color;
      border-radius: 5px;
      padding: 1rem;
      transition: transform 300ms ease;
    }
    .icon svg {
      fill: $primary-color;
      width: 3rem;
      height: 3rem;
    }
    .radio-tile-label {
      text-align: center;
      font-size: 1rem;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 1rem 0 0 0;
      color: $primary-color;
    }

    //active tile styles
    .radio-button:checked + .radio-tile {
      background-color: $primary-color;
      border: 2px solid $primary-color;
      color: white;
      transform: scale(1.1, 1.1);
      
      .icon svg {
        fill: white;
        background-color: $primary-color;
      }
      .radio-tile-label {
        color: white;
        background-color: $primary-color;
      }
    }
  }
}

//result.blade.php
.box30 {
    position: relative;
    margin: 0 0;
    padding: 0.5em 100px;
    border: solid 3px #95ccff;
    border-radius: 8px;
    width: 100%;
    align-items: center;
}
.box30 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 25px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}

.box30 p {
    margin: 30px 0px 0px 0px; 
    padding: 0;
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    justify-content: center;
    
}


// 申し込みボタン

a.btn--green {
  color: #fff;
  background-color: #094;
  width: 360px;
  height: 50px;
}

a.btn--green:hover {
  color: #fff;
  background: #00a349;
}

a.btn--green.btn--cubic {
  border-bottom: 5px solid #00662d;
}

a.btn--green.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 2px solid #00662d;
}

a.btn-c {
  font-size: 20px;
  position: relative;
  padding: 6px 20px 6px 20px;
  border-radius: 100vh;
}

a.btn-c i.fa {
  margin-right: 1rem;
}

a.btn-c:before {
  font-family: 'Font Awesome 5 Free';
  font-size: 20px;
  line-height: 1;
  position: absolute;
  top: calc(50% - .8rem);
  right: 1rem;
  margin: 0;
  padding: 0;
  content: '\f054';
}

